:root {
    --dark: #264653;
    --orange: #e76f51;
    --jungle-green: #2a9d8f;
    --golden-sand: #e9c46a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: helvetica, Arial, sans-serif;
    color: var(--dark);
}

/* Header style */
header {
    background-color: var(--dark);
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    font-size: 30px;
    font-weight: lighter;
    color: var(--orange);
    margin: 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.40);
}

header img {
    margin: 0 5px;
    position: bottom;
    width: 25px;
}

header a {
    text-decoration: none;
    color: var(--orange);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-weight: lighter
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 18px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.40);
}

header nav ul li a:hover {
    background:var(--jungle-green);
    color: var(--dark);
    border-radius: 15px;
    text-shadow: none;
}
/* Header style end */

.hero {
    background-image: url("../images/DSC_0568-1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-form {
    border: solid 2px var(--dark);
    background-color: rgba(231, 111, 81, .85);
    padding: 20px;
    width: 40%;
    margin: 3.5%;
    border-radius: 15px;
}

.hero-form h3 {
    font-size: 24px;
    margin: 0;
}

.hero-form p {
    margin: 5px 0 15px 0;
}

.form-input {
    border: 1px solid var(--dark);
    display: block;
    font-size: 14px;
    color: var(--dark);
    width: 75%;
    margin-bottom: 15px;
    padding: 7px 15px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);
}

.form-input:focus {
    background-color:rgba(255,255,255, 1);
    outline: none;
}

.hero-form label {
    margin: 0 5px;
}

.hero-form button {
    background-color: var(--dark);
    color: var(--orange);
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 10px;
}

.hero-form button:hover {
    background-color:var(--jungle-green);
    color:var(--dark);
}
/* Hero style end */

/* About me style */
.about div p {
    margin-bottom: 20px;
}

.about p {
    line-height: 1.5;
    color: var(--jungle-green);
    width: 45%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}
/* about me style end */

/* ideal adventures style */
.adventures {
    background: var(--dark);
}

.adventures h2 {
    color: var(--orange);
}

.step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid var(--golden-sand);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.step h3 {
    color: var(--orange);
    font-size: 34px;
    font-weight: lighter;
    flex: 1 10%;
}

.step-info {
    flex: 2 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.step-img {
    flex: 1 12%;
    margin-right: 20px;
}
.step-img img {
    max-width: 100%;
}

.step-text {
    color: var(--jungle-green);
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
    flex: 12;
}

/* ideal adventures style end */

/* places I've been style */

.places-been {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.places {
    background: var(--jungle-green);
    color: var(--dark);
    margin: 20px;
    flex: 1;
    border-radius: 15px;
}

.places img {
    width: 100%;
    height: 50%;
    border-radius: 15px 15px 0 0;
}

.places-bio {
    padding: 25px;
    line-height: 1.2;
}

.places-bio h3 {
    font-size: 26px;
    font-weight: lighter;
}

.places-bio h4 {
    font-weight: lighter;
    font-size: 18px;
    margin-bottom: 10px;
}

.places-bio p {
    font-style: 16px;
}

/* places I've been style end */

/* utility classes */
.section-title {
    font-size: 45px;
    font-weight: lighter;
    color: var(--dark);
    border-bottom: 3px solid;
    padding: 20px 0;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.primary-border {
    border-color: var(--orange);
}

.secondary-border {
    border-color: var(--jungle-green);
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.flex-row {
    display: flex;
}
/* utility classes end */

/* currently located style */
.current {
    background: var(--orange);
    padding: 20px 20px 40px 20px;
}

.current-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.current-info iframe {
    height: 400px;
}

.current-info div {
    color: var(--dark);
}

.current-info h3 {
    font-size: 30px;
    font-weight: lighter;
}

.current-info p, 
.current-info address {
    margin: 20px 0;
    line-height: 1.3;
    font-size: 16px;
    font-style: normal;
}

.current-info a {
    color: var(--golden-sand);
    text-decoration: none;
}

.current-info > * {
    flex: 1;
    margin: 15px;
}

.contact-form input, 
.contact-form textarea {
    border: 1px solid var(--dark);
    display: block;
    padding: 7px 15px;
    font-size: 14px;
    color: var(--jungle-green);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color:rgba(255,255,255, 0.75)
}

.contact-form input:focus, 
.contact-form textarea:focus {
    background-color:rgba(255,255,255, 1);
    outline: none;
}

.contact-form button {
    width: 100%;
    border: none;
    background: var(--golden-sand);
    color: var(--dark);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
}

.contact-form button:hover {
    background:var(--dark);
    color:var(--golden-sand);
}
/* currently located style end */



/* Footer style */
footer {
    background-color: var(--dark);
    padding: 40px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer p {
    color: var(--orange);
    text-align: center;
}
/* Footer style end */


/* MEDIA QUERY small desktop and smaller */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav {
        padding-bottom: 15px;
    }

    header nav ul {
        margin-top: 15px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 24px;
    }

    .hero-form {
        width: 50%;
    }

    .section-title {
        width: 70%;
    }

    .about p {
        width: 65%;
    }

    .step h3 {
        flex: 1 15%;
    }

    .places {
        flex: 0 60%;
    }

    .places-bio h3 {
        font-size: 40px;
        font-weight: bold;
    }

    .places-bio h4 {
        font-size: 30px;
    }
    .places-bio p {
        font-size: 26px;
    }

    .current-info iframe {
        flex: 1 100%;
    }

    footer {
        font-size: 26px;
    }
}
  
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .hero-form {
        width: 65%;
    }
    section {
        padding: 30px 15px;
    }

    .about p {
        width: 75%;
    }

    .step h3 {
        flex: 1 100%;
        text-align: center;
    }

    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .step-text {
        flex: 100%;
        text-align: center;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    header nav ul li {
        padding: 10px 0;
    }

    .hero-form {
        width: 100%;
    }
    .hero-form button {
        width: 100%;
    }

    .section-title {
        width: 75%;
    }

    .about p {
        width: 100%;;
    }

    .places {
        flex: 0 100%;
    }

    .current-info {
        text-align: center;
    }

    .current-info > * {
        flex: 0 100%;
    }

    .contact-form {
        order: 3;
    }
}