* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: helvetica, Arial, sans-serif;
    color: #264653;
}

/* Header style */
header {
    background-color: #264653;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-size: 30px;
    font-weight: lighter;
    color: #e76f51;
    margin: 0;
}

header img {
    margin: 0 5px;
    position: bottom;
    width: 25px;
}

header a {
    text-decoration: none;
    color: #e76f51;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-weight: lighter
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 18px;
}
/* Header style end */

.hero {
    background-image: url("../images/DSC_0568-1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.hero-form {
    border: solid 2px #264653;
    background-color: #e76f51;
    padding: 20px;
    width: 40%;
    margin: 3.5%;
}

.hero-form h3 {
    font-size: 24px;
    margin: 0;
}

.hero-form p {
    margin: 5px 0 15px 0;
}

.form-input {
    border: 1px solid #264653;
    display: block;
    font-size: 14px;
    color: #264653;
    width: 75%;
    margin-bottom: 15px;
    padding: 7px 15px;
}

.hero-form label {
    margin: 0 5px;
}

.hero-form button {
    background-color: #264653;
    color: #e76f51;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
}
/* Hero style end */

/* About me style */
.about div {
    margin-bottom: 30px;
}

.about p {
    line-height: 1.5;
    color: #2a9d8f;
    width: 45%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}
/* about me style end */

/* ideal adventures style */
.adventures {
    background: #264653;
}

.adventures h2 {
    color: #e76f51;
}

.step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid #e9c46a;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.step h3 {
    color: #e76f51;
    font-size: 30px;
    font-weight: lighter;
    flex: 1 30%;
}

.step-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.step-img {
    flex: 1 12%;
    margin-right: 20px;
}
.step-img img {
    max-width: 100%;
}

.step-text {
    color: #2a9d8f;
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
    flex: 12;
}

/* ideal adventures style end */

/* places I've been style */

.places-been {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.places {
    background: #2a9d8f;
    color: #264653;
    margin: 20px;
    flex: 1;
}

.places img {
    width: 100%;
    height: 50%;
}

.places-bio {
    padding: 25px;
    line-height: 1.2;
}

.places-bio h3 {
    font-size: 26px;
    font-weight: lighter;
}

.places-bio h4 {
    font-weight: lighter;
    font-size: 18px;
    margin-bottom: 10px;
}

/* places I've been style end */

/* utility classes */
.section-title {
    font-size: 45px;
    font-weight: lighter;
    color: #264653;
    border-bottom: 3px solid;
    padding: 20px 0;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.primary-border {
    border-color: #e76f51;
}

.secondary-border {
    border-color: #2a9d8f;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.flex-row {
    display: flex;
}
/* utility classes end */

/* currently located style */
.current {
    background: #e76f51;
    padding: 20px 20px 40px 20px;
}

.current-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.current-info iframe {
    height: 400px;
}

.current-info div {
    color: #264653;
}

.current-info h3 {
    font-size: 30px;
    font-weight: lighter;
}

.current-info p, 
.current-info address {
    margin: 20px 0;
    line-height: 1.3;
    font-size: 16px;
    font-style: normal;
}

.current-info a {
    color: #e9c46a;
    text-decoration: none;
}

.current-info > * {
    flex: 1;
    margin: 15px;
}

.contact-form input, 
.contact-form textarea {
    border: 1px solid #264653;
    display: block;
    padding: 7px 15px;
    font-size: 14px;
    color: #2a9d8f;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
}

.contact-form button {
    width: 100%;
    border: none;
    background: #e9c46a;
    color: #264653;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
}
/* currently located style end */



/* Footer style */
footer {
    background-color: #264653;
    padding: 40px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer p {
    color: #e76f51;
    text-align: center;
}
/* Footer style end */